#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4rem;
  /*background-color: blue;*/
}

.app-wrapper {
  border-radius: 5px;
}

.quote-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 5px;
  background-color: white;
  transition: height 1000ms ease-in-out;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.quote-text {
  font-weight: 400;
  font-size: xx-large;
}

.author {
  font-weight: 400;
}